body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  padding-top: 20px;
}

.clock-border {
  fill: none;
  stroke: black;
  stroke-width: 3pt;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.panel-heading:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}

.time-offset-panel, .time-offset {
  margin-bottom: 10px;
}

@font-face {
  font-family: "square";
  src: url("../fonts/square_sans_serif_7.ttf");
}

.digital-number {
  font-family: "square";
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
